In [ ]:
#Imputation on Claimants Data Set

In [16]:
import pandas as pd # data manipulation
from sklearn.impute import SimpleImputer # MachineLearning algorithms for imputing the missing values
import numpy as np #numerical calculation

In [5]:
data = pd.read_csv("claimants.csv") # Load the dataframe
data.head() # print first 5 rows

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [6]:
data.shape #diamension of the dataframe

(1340, 7)

In [7]:
data.info() #information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   1340 non-null   int64
 1   ATTORNEY  1340 non-null   int64
 2   CLMSEX    1328 non-null   float64
 3   CLMINSUR  1299 non-null   float64
 4   SEATBELT  1292 non-null   float64
 5   CLMAGE    1151 non-null   float64
 6   LOSS      1340 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [8]:
data.isnull().sum()  # checking for missing values

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [26]:
# performing Mean, Median, Mode Imputatation

In [20]:
mean_imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
data['CLMSEX'] = pd.DataFrame(mean_imputer.fit_transform(data[['CLMSEX']]))     
data['CLMSEX'].isna().sum()

0

In [22]:
median_imputer = SimpleImputer(missing_values = np.nan, strategy = 'median')
data['CLMINSUR'] = pd.DataFrame(median_imputer.fit_transform(data[['CLMINSUR']]))
data['CLMINSUR'].isnull().sum()

0

In [23]:
mean_imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
data['SEATBELT'] = pd.DataFrame(mean_imputer.fit_transform(data[['SEATBELT']]))
data['SEATBELT'].isna().sum()

0

In [24]:
median_imputer = SimpleImputer(missing_values = np.nan, strategy = 'median')
data['CLMAGE'] = pd.DataFrame(median_imputer.fit_transform(data[['CLMAGE']]))
data['CLMAGE'].isna().sum()

0

In [25]:
data.isna().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64